<div class="data-chart">
  @if(data) {
    @for (experience of data; track experience.Id) {
      <ion-title class="title">{{experience.Title}}</ion-title>
      @for (individualExperience of experience.Experience; track individualExperience.Label) {
        <div class="experienceBar">
          <span class="title">{{individualExperience.Label}}</span> : <span [class]="determineBarSize(individualExperience.StartDate)">{{determineYears(individualExperience.StartDate)}}</span>
        </div>
      }
    }
  }
</div>


