<ion-content>
  <div class="container">
    @if(contactPageData) {
      <div class="pageBackground">
        <ion-title class="pageContactTitle">{{contactPageData.Title}}</ion-title>
    </div>
      <ion-title class="contactPadding">
        {{contactPageData.LinkedInMessage}}
      </ion-title>

      <ion-title>
        <a href={{contactPageData.LinkedInLink}}><ion-button><ion-icon slot="icon-only" name="home"></ion-icon></ion-button></a>
      </ion-title>
    }
      
  </div>
</ion-content>
