<ion-content>
  <div class="container">
    @if(contactPageData) {
      <div class="pageBackground">
        <ion-title class="pageContactTitle">{{contactPageData.Title}}</ion-title>
    </div>
      <h3 class="contactPadding">
        {{contactPageData.LinkedInMessage}}
      </h3>

      <a href={{contactPageData.LinkedInLink}}><ion-button><ion-icon slot="icon-only" name="logo-linkedin"></ion-icon></ion-button></a>

      <footer>
        <p>{{contactPageData.WebsiteVersion}}</p>
      </footer>
    }
  </div>
</ion-content>
