// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

* {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

.active {
/* Add your desired styles here */
color: #ff0000; /* For example, set the text color to red */
}