

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

.container {
  text-align: center;
  width: 75vw;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  
  a {
    text-decoration: none;
  }
}

.active-tab {
  background-color:var(--ion-background-color);
}

.container {
  position: relative;
  top: 150px;
}

