.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

.container {
  text-align: center;
  width: 75vw;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  
  a {
    text-decoration: none;
  }
}

.active-tab {
  background-color:var(--ion-background-color);
}

.container {
  position: relative;
  top: 100px;
}

.pageTitle {
  font-size: 2vw;
  padding: 75px 0 0 0
}

.pageContactTitle {
  font-size: 2vw;;
  padding: 100px 0 100px 0
}

.contactPadding {
  padding-top: 20vh;
}

.pageExtra {
  font-size: 1vw;
  padding: 0 0 75px 0
}

.homeTitle {
  color: #fff;
  color: color-mix(in srgb, currentColor 50%, transparent);
  font-size: 9vw;
  padding: 250px 5vw 150px 5vw
}

.homeExtraText {
  color: #fff;
  color: color-mix(in srgb, currentColor 50%, transparent);
  font-size: 1vw;
  padding: 25px 5vw 100px 5vw
}

.titleBackground {
  background: linear-gradient(139deg, #79ac12, #4c6913, #c7ceba, #2a7a4c, #1c173f, #2d17c6, #6251d7);
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}

.pageBackground {
  background: linear-gradient(179deg, #561ba7, #130faa);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}

app-projects {
  project-card {
      padding: 5px;
  }
}

.uploadedFiles {
  margin: 15px;
  text-align: left;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

* {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

/*
.fanwood-text-regular {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: normal;
}

.fanwood-text-regular-italic {
  font-family: "Fanwood Text", serif;
  font-weight: 400;
  font-style: italic;
}
  */

