@if(data && data.HomePage) {
    <ion-content>
        <div class="home-container">
            <div class="titleBackground">
                <div class="homeTitle">{{data.HomePage.MessageLabel}}</div>
                <div class="homeExtraText">
                    <h3 class="" (click)="developerDescActive = !developerDescActive">{{data.HomePage.Message}}</h3>
                    <h3>{{data.HomePage.RecruiterMessage}}</h3>
                    @if(developerDescActive) {
                        <img src="assets/img/monkey-developer.gif" width="300"/>
                    }
                </div>
            </div>
        </div>
    </ion-content>
}
