@if(data && data.ProjectsPage) {
  <ion-content>
    <div class="container">
      <div class="pageBackground">
        <ion-title class="pageTitle">{{data.ProjectsPage.Title}}</ion-title>
        <p class="pageExtra">{{data.ProjectsPage.Message}}</p>
      </div>

      <ion-grid>
        <ion-row>
          @for(project of data.ProjectsPage.Projects; track project.Name) {
            <ion-col size="12" size-sm="6" size-md="4">
              <project-card
                [Project]="project"
              />
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    
    </div>  
  </ion-content>
}
