<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center ion-padding">
      @if (data?.SiteName){
        {{data?.SiteName}}
      }
    </ion-title>
    <div class="center">
      <ion-button fill="clear" routerLink="/home" routerLinkActive="active-tab" ariaCurrentWhenActive="page" class="ion-text-lowercase">
        <ion-icon name="home" aria-hidden="true"></ion-icon>
        Home
      </ion-button>

      <ion-button fill="clear" routerLink="/projects" routerLinkActive="active-tab" ariaCurrentWhenActive="page" class="ion-text-lowercase">
        <ion-icon name="planet" aria-hidden="true"></ion-icon>
        Projects
      </ion-button>

      <ion-button fill="clear" routerLink="/experience" routerLinkActive="active-tab" ariaCurrentWhenActive="page" class="ion-text-lowercase">
        <ion-icon name="home" aria-hidden="true"></ion-icon>
        Experience
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>