
<body>
    <h1>Snake in JS</h1>
    <h2>Score:</h2>
    <h2 id="score-board">0</h2>
    <main>
        <!--Create main game board-->
        <div id="game-board"></div>
        <!--Create cover for start screen-->
        <div id="splashscreen"> 
            <div id="splashscreen-content">
                <h2>Snake in JS!</h2>
                <input id="startbutton" type="button" value="Start(Enter)" (click)="startFunction()"/>
                <div id="controls-style">
                    <p>Controls:</p>
                    <p>Move snake: arrow keys</p>
                    <p>(Currently only works on a desktop computer, no mobile yet!)</p>
                </div>
            </div>
        </div>
    </main>
</body>