/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


/****
*
* All other CSS rules
*
*/


* {
    font-family: "Fanwood Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  .padding-top-75px {
    padding-top: 75px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

.home-container {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  
  a {
    text-decoration: none;
  }
}

.container {
  text-align: center;
  width: 75vw;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  
  a {
    text-decoration: none;
  }
}

.titleBackground {
  background: linear-gradient(139deg, #79ac12, #4c6913, #c7ceba, #2a7a4c, #1c173f, #2d17c6, #6251d7);
  background-size: 1400% 1400%;
  height: 100vh;

  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}

.active-tab {
  background-color:var(--ion-background-color);
}

.pageTitle {
  font-size: 2em;
  padding: 50px 0 50px 0
}

.contactPadding {
  padding-top: 20vh;
}

.pageExtra {
  font-size: 1.1em;
  padding: 0 0 75px 0
}

.homeTitle {
  color: #fff;
  color: color-mix(in srgb, currentColor 50%, transparent);
  font-size: 7em;
  padding: 250px 5vw 150px 5vw
}

@media screen and (max-width: 1000px) {
    .homeTitle {
        font-size: 3em;
    }

    .pageContactTitle {
        font-size: 3em;
    }

    .pageTitle {
        font-size: 3em;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
}

.homeExtraText {
  color: #fff;
  color: color-mix(in srgb, currentColor 50%, transparent);
  font-size: 5em;
}

.pageBackground {
  background: linear-gradient(179deg, #561ba7, #130faa);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}

app-projects {
  project-card {
      padding: 5px;
  }
}

.uploadedFiles {
  margin: 15px;
  text-align: left;
}

/* Loading Spinner*/
.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2000;
}