@if(data && data.HomePage) {
<ion-content>
    <div class="container">
        <div class="title">
            <ion-title><u>{{data.SSPDF.Title}}</u></ion-title>
            <p>{{data.SSPDF.Message}}</p>
        </div>

        <form [formGroup]="formGroup" (ngSubmit)="mergePDFs()">
            <ion-label>{{data.SSPDF.FileNameLabel}}</ion-label>
            <ion-row>
                <ion-col size="4" offset="4">
                    <ion-item>
                        <ion-input formControlName="fileName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <div class="uploadedFiles">
                <ion-row>
                    <ion-col>
                        <h2><u>{{data.SSPDF.FileListLabel}}</u></h2>
                    </ion-col>
                </ion-row>

                @for(file of files; track file.title) {
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-checkbox (click)="checkboxToggled($event.target)" justify="space-between">{{file.title}}</ion-checkbox>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                }
            </div>

            <ion-row>
                <ion-col>
                    <ion-button (click)="removeSelected()" color="warning" expand="block">{{data.SSPDF.RemoveLabel}}</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="fileUpload.click()" expand="block">{{data.SSPDF.AddPDFsLabel}}</ion-button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-button type="submit" expand="block" >{{data.SSPDF.MergeLabel}}</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button (click)="reset()" color="danger" expand="block">{{data.SSPDF.ResetLabel}}</ion-button>
                </ion-col>
            </ion-row>

        </form>

        
    </div>

    <ion-toast
        [isOpen]="isToastOpen"
        [message]="toastMessage"
        [duration]="5000"
        (didDismiss)="setOpen(false, '')"
    ></ion-toast>

    <!--Hidden input that opens dialog and allows user to add files-->
    <input #fileUpload type="file" multiple="multiple" style="display: none;" class="file-upload" [accept]="acceptedFileTypes" (change)="addPDFFile($event.target)">
</ion-content>
}
